*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
}

.container-fluid{
    margin: auto 10%;
}
.conteudo{
    flex-direction: row-reverse !important;
}
.secao-1{
    background-color: hsl(270, 9%, 17%);
    margin-bottom: 280px;
}
.capa{
    background-color: hsl(270, 9%, 17%);
    height: 45vh;
    color: #fff;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slogan h1{
    font-size: 40px;
    font-family: 'DM Serif Display', serif;
}

.slogan p{
    font-size: 16px;
}

.imagem img{
    height: 30rem;
}

.imagem{
    margin-top: 300px;
}

.secao-2{
    color: #000;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: justify;
}

.secao-2 strong{
    font-size: 40px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 40px;
    font-weight: 400;
}

.qualidades{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}